@import "tailwindcss";

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: 'Roobert', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

