@import "tailwindcss";

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: 'Roobert', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.dem-box {
  @apply mt-2.5 w-[208px] h-[104px] bg-gray-200 text-black border-t-black border-t-2 hover:bg-gray-300 active:bg-black active:text-white cursor-pointer
}

